@use 'hero'; 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$corDeFundo: #f0f0f0;
$corTexto: #333;
$corTextoSecundario: #666;

body {
    background-color: $corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $corTexto;
}

@mixin title ($fontSize: 40px) {
    @include text($fontSize);
    color: $corTextoSecundario;
}

.text--big {
    @include text(20px);
}

.text {
    @include text;
}

.text--small {
    @include text (12px);
}

.title--big {
    @include title;
}

.title {
    @include title(30px);
}

.title--small {
    @include title(20px);
}

.botoes {
    display: flex;
    gap: 16px;
    text-decoration: none;
    background-color: red;
}